.search-button {
  margin-left: -30rem;
  margin-top: 2rem;
  padding-bottom: 3rem;
  position: relative;
}

.button {
  padding: 18px 65px;
  font-size: 25px;
  border-radius: 4rem;
  border: 0px;
  cursor: pointer;
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
}

.button:hover {
  background-color: #000000;
  background-image: linear-gradient(147deg, #000000 20%, #166d3b 74%);
}
