.service-card {
  height: 440px;
  width: 420px;
  -webkit-box-shadow: 5px 5px 15px 2px rgba(56,120,29,0.79); 
  box-shadow: 5px 5px 15px 2px rgba(56,120,29,0.79);
  margin: 30px;
}

.service-image {
  height: 90px;
  width: 90px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-left: 0 auto;
  
  filter: invert(31%) sepia(13%) saturate(3750%) hue-rotate(100deg) brightness(92%) contrast(83%);
}

.title {
  font-size: 30px;
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 37%, #000000 74%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: -0.05rem;
  padding-top: -5rem;
}

.para1 {
  font-size: 23px;
  text-align: justify;
  margin-top: -20px;
  padding: 40px;
}
