.summary {
  padding-top: 12rem;
  display: flex;
  flex-direction: column;
}

.heading-summary,
.paragraph {
  padding-left: 4rem;
  display: inline-flex;
}

.paragraph {
  padding-top: 1rem;
  padding-left: 5.6rem;
  display: inline-flex;
}

.heading {
  background-color: white;
  font-size: 60px;
  padding: 20px;
  text-align: left;
}

.summary-para {
  background-color: white;
  font-size: 20px;
  padding: 20px;
  text-align: left;
}
