.category-content {
  margin: 1.8rem;
  background: #f8f6f6;
  box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
}

.category-img {
  height: 300px;
  width: 310px;
}

.category-title {
  padding: 0.8rem;
  font-size: 1.4rem;
}
