.navbar {
  padding-top: 30px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.nav-list-item {
  padding-right: 5rem;
}

a {
  color: grey;
  font-weight: bold;
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 1.7rem;
  text-decoration: none;
}

a:active {
  color: #f5ab35;
}
