.footer {
  background-color: #166d3b;
  background-image: linear-gradient(147deg, #166d3b 0%, #000000 74%);
  margin-top: 13rem;
  padding: 15px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-evenly;
  padding: 4rem;
  margin: 0 auto;
}

.footer-column-1,
.footer-column-2,
.footer-column-3 {
  text-align: left;
  display: flex;
  flex-direction: column;
  line-height: 3rem;
}

.footer-logo,
.name {
  color: white;
  font-family: "Romanesco", cursive;
  font-size: 50px;
}

.footer-para,
.copyright {
  font-size: 25px;
  text-align: left;
  color: white;
}

.footer-list-1 a,
.footer-list-2 a {
  color: white;
  font-size: 25px;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.copyright {
  height: 25px;
  filter: brightness(0) invert(1);
}

.footer-pic{
  height: 400px;
  width: 400px;
}