body {
  font-family: sans-serif;
  text-align: center;
  background-image: url(".https://image.freepik.com/free-photo/ingredients-making-toast-sandwich-white-background_23-2147925937.jpg");
  background-size: cover;
  background-attachment: fixed;
}
